/*
  Variables
*/

offwhite = #fafafa
lightgrey  = #EDEEED

html
  font-size 14px
  font-family sans-serif

a
  text-decoration none
  color black

p
  font-size 1rem
  line-height 1.5

h1
  text-align center
  font-weight 100
  font-size 5rem
  letter-spacing -1px
